<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title> NZ Wildlife Login Page </title>
<link rel="stylesheet" href="C:\Users\rubyf\OneDrive - Trinity Schools\2025 ALL SUBJECTS\DGT\AS91896-2.7-\static\css\login.css">
</head>

<body>
<div class = "center">
<h1> Welcome </h1>
<form method="post">

<div class="txt_field">
<input type="text" placeholder="Enter Email" name="email" id="email" required maxlength="100">
<span> </span>
<label>Email Address</label>
</div>

<div class="txt_field">
<input type="password" placeholder="Enter Password" name="psw" id="psw" required maxlength="50" minlength="8">
<span> </span>
<label>Password</label>
</div>

<div class="forgot"> Forgot Password </div>
<input type="submit" value="Login"> 
<div class="users_signup">
Don't have an account? <a href="register.html">Register</a>
</div>